<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>💱 Currency Converter</h1>
    <p>Convert any currency → ₹ INR</p>

    <input type="number" id="amount" placeholder="Enter amount">

    <!-- Dynamic dropdown -->
    <select id="currency"></select>

    <button onclick="convert()">Convert</button>

    <h2 id="result"></h2>
</div>

<script src="/static/script.js"></script>
</body>
</html>